API_URL='http://127.0.0.1:9527/v1'
FETCH_TIMEOUT=20000
HCAPTCHA_SITE_KEY='10000000-ffff-ffff-ffff-000000000001'
TURNSTILE_SITE_KEY='1x00000000000000000000AA'
ACTIVE_RECEIVER='active@mail.axum.eu.org'
RESET_PASSWORD_RECEIVER='reset@mail.axum.eu.org'
CONTACT_EMAIL='team@mail.axum.eu.org'
TG_GROUP='https://t.me/axumrs'
GITHUB_URL='https://github.com/axumrs'
YOUTUBE_URL='https://www.youtube.com/channel/UCxYIyGnTIXK3oXgqZhZPpYQ'
AXUM_CSRF='12345'
USDT_TO_TRX=8
USDT_TO_POINTER=1000
USDT_TO_CNY=8.1
USDT_CONTRACT_ADDR='TXLAQ63Xg1NAzckPwKHvzw7CSEmLMEqcdj'
WALLET_ADDR='TPGEtKJmPJU3naosCcRrVReE2ckFhE9sYM'
WALLET_QRCODE='https://file.axum.eu.org/pay/tron1.png'
TRON_URL='https://nile.tronscan.org/#' # https://tronscan.org/#
CONTACT_TG='https://t.me/'
