NEXT_PUBLIC_API_URL='http://127.0.0.1:9527'
NEXT_PUBLIC_FETCHER_TIMEOUT=20000
NEXT_PUBLIC_HCAPTCHA_SITEKEY='10000000-ffff-ffff-ffff-000000000001'
NEXT_PUBLIC_TOKEN_COOKIE_NAME=axumrs_token
NEXT_PUBLIC_USDT_TO_RMB=7.8
NEXT_PUBLIC_TRC_ADDR=TMV6br9JGs6onRExf46JpTYJbxHV9k8888
NEXT_PUBLIC_TRC_QRCODE=''
NEXT_PUBLIC_ALIPAY_QRCODE=''
