@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-light;
    scrollbar-width: thin;
  }

  body {
    @apply h-screen bg-zinc-50 text-gray-900;
  }

  label > div:has(+ div > input[required]),
  div > div:has(+ div[data-required]),
  label > div:has(+ div[data-required]) {
    @apply after:content-['*'] after:text-red-600 after:ml-1;
  }
  div > div:has(+ div[data-required]) {
    @apply cursor-default;
  }

  input {
    @apply outline-none;
  }
}

@layer components {
  #__nuxt {
    @apply min-h-full relative;
  }

  /* 网格背景, 摘自 nodeseek */
  .grid-bg {
    background-image: linear-gradient(#d4d4d4 1px, transparent 0),
      linear-gradient(90deg, #d4d4d4 1px, transparent 0);
    background-size: 32px 32px;
  }

  .axum-topic-content pre {
    padding: 1px !important;
    border-radius: 2px !important;
    background-color: rgb(209 213 219) !important;
    @apply font-mono;
  }
  .axum-topic-content [data-procted-id] {
    @apply border px-4 py-3 bg-gradient-to-tl from-cyan-500 to-cyan-600 shadow-sm text-white before:block before:content-['你需要完成人机验证才能查看这部分内容'];
  }

  .axum-topic-content [data-guess-id] {
    @apply border px-4 py-3 bg-gradient-to-tl from-orange-500 to-orange-600 shadow-sm text-white before:block before:content-['你需要登录之后才能查看这部分内容'];
  }
}
