@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: inherit;
    @apply font-light;
  }

  body {
    @apply bg-slate-50 relative box-border;
  }
}

@layer components {
  .axum-rs-container {
    @apply container mx-auto;
  }
  .protected_content {
    @apply p-6 bg-gradient-to-br  from-cyan-600 to-cyan-700 before:content-['你需要完成人机验证才能查看这部分内容'] text-white border border-cyan-700 rounded shadow hover:from-cyan-700 hover:to-cyan-800 cursor-pointer;
  }
  .pre {
    padding: 1px!important;
    border-radius: 2px!important;
    background-color: rgb(209 213 219)!important;
  }
}
